:root {
  --background: #ffffff;
  --foreground: #171717;
}

@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css");

@font-face {
  font-family: "Flight Sans Regular";
  src: url("/fonts/FlightSans-Regular.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Flight Sans Bold";
  src: url("/fonts/FlightSans-Bold.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Flight Sans Title";
  src: url("/fonts/FlightSans-Title.otf") format("opentype");
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}